#!/bin/sh
{{ logrotate__daemon_file }} {{ logrotate__conf_file }} &>/dev/null
EXITCODE=$?
if [ $EXITCODE != 0 ]; then
    /usr/bin/logger -t logrotate "ALERT exited abnormally with [$EXITCODE]"
fi
exit 0
